{% extends 'base.html.twig' %}

{% block body %}

<div class="col-sm-6">
    <div class="well">
        <form class="form-horizontal" action="{{ path('category_edit', {id: category.id}) }}" method="post">

            <fieldset>
                <legend>Category edit</legend>
                <div class="form-group">
                    <div class="col-sm-12 ">
                        <input type="text" class="form-control" id="category_name" name="category[name]" value="{{ category.name }}">
                    </div>
                </div>

                {{ form_row(form._token) }}
                <div class="form-group">
                    <div class="col-sm-12 col-sm-offset-2">
                        <a class="btn btn-default" href="{{ path('category_index', {id: category.id}) }}">Cancel</a>
                        <button type="submit" class="btn btn-primary">Edit</button>

                    </div>
                </div>

                {{ form_start(edit_form) }}
                    {#{{ form_widget(edit_form) }}#}
                    {#<input type="submit" value="Edit" />#}
                {#{{ form_end(edit_form) }}#}
                {#<li>#}
                {#<a href="{{ path('category_index', {id: category.id}) }}">Back to categories list</a>#}
                {#</li>#}

            </fieldset>
        </form>
    </div>
</div>
    {#<ul>#}
        {#<div class="form-group">#}
            {#<div class="col-sm-4 col-sm-offset-4">#}
                {#{{ form_start(delete_form) }}#}
                {#<button type="submit" class="btn btn-danger">Delete</button>#}
                {#{{ form_end(delete_form) }}#}
            {#</div>#}
        {#</div>#}
    {#</ul>#}
{% endblock %}
