{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('category_new') }}" method="post">
                <fieldset>
                    <div>{{ form_errors(form) }}</div>
                    <legend>New Category</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="category_name">Name</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    {#</div>#}
                    {#<div class="form-group">#}
                        {#<div class="col-sm-12 ">#}
                            {#<input type="text" class="form-control" id="category_name" placeholder="Name" name="category[name]">#}
                        {#</div>#}
                    {#</div>#}
                    {#<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>#}
                    </div>
                    {{ form_row(form._token) }}
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('category_index') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                        {{ form_end(form) }}
                </fieldset>
            </form>
        </div>
    </div>

{#<div class="col-sm-6">#}
    {#<div class="well">#}
        {#<h1>Category creation</h1>#}

        {#{{ form_start(form) }}<br>#}
        {#<fieldset>#}
            {#{{ form_widget(form) }}#}
        {#<br>#}
        {#</fieldset>#}
        {#<div class="form-group">#}
            {#<div class="col-sm-12 col-sm-offset-2">#}
                {#<a class="btn btn-default" href="{{ path('category_index') }}">Back</a>#}
            {#<input class="btn btn-primary" type="submit" value="Create"/>#}
            {#</div>#}
        {#</div>#}

        {#{{ form_end(form) }}#}
{#<p>#}
    {#<a class="btn btn-default btn-sm pull-right" href="{{ path('category_index') }}">Back to the list</a>#}
{#</p>#}
    {#</div>#}
{#</div>#}

{% endblock %}
