{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('category_new') }}" method="post">
                <fieldset>
                    <div>{{ form_errors(form) }}</div>
                    <legend>New Category</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="category_name">Name</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>

                    {{ form_row(form._token) }}
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('homepage') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    {{ form_end(form) }}

                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}