{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-12">
        <div class="well">
            <form class="form-horizontal" action="{{ path('category_show', { 'id': category.id }) }}" method="post">
                <h1>{{ category.name }}</h1>

                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-8">
                        {% if app.getUser() and (app.getUser().isEditor() or app.getUser().isAdmin()) %}
                            <a type="submit" class="btn btn-primary" href="{{ path('category_new') }}">Add</a>
                            <a type="submit" class="btn btn-success"
                               href="{{ path('category_edit', { 'id': category.id }) }}">Edit</a>
                            <a class="btn btn-danger"
                               href="{{ path('category_delete', {'id': category.id }) }}">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </form>

            <hr>
        </div>

        <hr/>
        <h2>Products in {{ category.name }}</h2>
        <hr/>
    </div>
    {% for product in category.products %}
        <div class="col-md-4">
            <article>
                <header>
                    <h3><a href="{{ path('product_show', {'id':product.id} ) }}">{{ product.name }}</a></h3>
                </header>

                <a href="{{ path('product_show', {'id':product.id} ) }}"><img src="{{ product.image }}"
                                                                              class="img-rounded" style="width:100%"
                                                                              width="200px" height="150px"/></a>
                <p>Price: <strong>${{ product.price|number_format(2, '.', ',') }}</strong></p>
                <p>Description: {{ product.description }}</p>
                <small class="author">
                    Creator: {{ product.client }}
                </small>
            </article>
        </div>
    {% endfor %}

{% endblock %}