{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

    <div class="page-header">
        <h1>{{ 'Shopping cart homepage' }}</h1>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="jumbotron">
                {#<p>#}
                    {#{{ 'browse_app' }}#}
                {#</p>#}
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('security_login') }}">
                        <i class="fa fa-users" aria-hidden="true"></i> {{ 'User' }}
                    </a>
                </p>
            </div>
        </div>

        {#<div class="col-sm-6">#}
            {#<div class="jumbotron">#}
                {#<p>#}
                    {#{{ 'help.browse_admin'|trans|raw }}#}
                {#</p>#}
                {#<p>#}
                    {#<a class="btn btn-primary btn-lg" href="{{ path('security_login') }}">#}
                        {#<i class="fa fa-lock" aria-hidden="true"></i> {{ 'action.browse_admin'|trans }}#}
                    {#</a>#}
                {#</p>#}
            {#</div>#}
        {#</div>#}

        <div class="row">
            <div class="col-sm-3">
                <div class="jumbotron">
                    {#<p>#}
                    {#{{ 'browse_app' }}#}
                    {#</p>#}
                    <p>
                        <a class="btn btn-primary btn-lg" href="{{ path('security_login') }}">
                            <i class="fa fa-users" aria-hidden="true"></i> {{ 'Admin' }}
                        </a>
                    </p>
                </div>
            </div>

        <div class="col-sm-3">
            <div class="jumbotron">
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('security_login') }}">
                        <i class="fa fa-users" aria-hidden="true"></i> {{ 'Editor' }}
                    </a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
