{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block body %}

    <div class="row">

        {% for product in products %}
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4><a href="{{ path('product_show', {'id':product.id} ) }}">{{ product.name }}</a></h4>
                    </div>
                    <div class="panel-body">
                        <a href="{{ path('product_show', {'id':product.id} ) }}"><img src="{{ product.image }}"

                                                                                      width="150px" height="150px"
                                                                                      style="width:100%"
                                                                                      alt="Image"></a></div>
                    <div class="panel-footer">Price: <strong>${{ product.price }}</strong></div>
                    <div class="panel-footer">Available: {{ product.quantity }} items</div>
                    <div class="panel-footer">Creator: {{ product.client }}</div>
                    <div class="panel-footer">
                        {% if ('stock' == 0) %}
                            <div class="panel-footer" style="color: #3be6c4"><h3>In Stock</h3></div>
                        {% elseif('stock' == 1) %}
                            <div class="panel-footer" style="color: red">Out of Stock</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}