{% extends 'base.html.twig' %}

{% block body %}

{#<div class="container body-content span=8 offset=2">#}
    {#<div class="well">#}
    <br>
<form class="form-horizontal" action="{{ path('admin_edit_user', {id:user.id}) }}" method="POST">
        <div class="row">

            <div class="col-sm-8">
                <h3>{{ user.getFullName }}</h3>

                <div class="form-group">
                    <div class="col-sm-4 ">
                        <div class="col-sm-4 ">
                            {{ form_widget(form.ban, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-4">
                        {#<div class="col-sm-6 col-sm-offset-4">#}
                        <a type="submit" class="btn btn-default" href="{{ path('admin_panel', { 'id':user.id })
                        }}">Back</a>


                        <a type="submit" class="btn btn-primary" href="{{ path('admin_panel', {'id':user.id}) }}">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    <br>
    {#<div>#}
{#<div class="container body-content span=8 offset=2">#}

{% endblock %}