{% extends 'base.html.twig' %}

{% block body %}

    <hr>
    <h1>Category</h1>
    <a type="submit" class="btn btn-primary" href="{{ path('category_new') }}">Add</a>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>№</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for index,category in categories %}
        <tr>
            <td>{{ index + 1 }}</td>
            <td>{{ category.name }}</td>
            <td>
                <ul>
                    <a class="btn btn-default btn-xs" href="{{ path('category_show', { 'id':category.id }) }}">View</a>
                    <a class="btn btn-success btn-xs" href="{{ path('category_edit', { 'id':category.id }) }}">Edit</a>
                    <a class="btn btn-danger btn-xs"
                       href="{{ path('category_delete', { 'id':category.id }) }}">Delete</a>
                </ul>
            </td>
            {% endfor %}
        </tbody>
    </table>
    <hr>

    <hr>
    <h1>Products</h1>
    <a type="submit" class="btn btn-primary" href="{{ path('product_new') }}">Add</a>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Creator</th>
            <th>Description</th>
            <th>Image</th>
            <th>Category Name</th>
            <th>In Stock/Out of Stock</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for index,product in products %}
            <tr>
                <td><a href="{{ path('product_show', {'id':product.id}) }}">{{ index+1 }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.client }}</td>
                <td>{{ product.description }}</td>
                <td>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{ path('product_show', {'id':product.id}) }}"><img src="{{ product.image }}"
                                                                                         class="img-rounded"
                                                                                         alt="main_image"
                                                                                         height="100" width="150"/></a>
                        </div>
                    </div>
                </td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.stock }}</td>
                <td><a class="btn btn-success btn-xs" href="{{ path("product_edit", {'id':product.id}) }}">Edit</a><br/><br/>
                    <a class="btn btn-danger btn-xs" href="{{ path("product_delete", {'id':product.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>
    <h1>Users</h1>

    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Email</th>
            <th>Wallet</th>
            <th>Ban</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for index,user in users %}
        <tr>
            <td>{{ index + 1 }}</td>
            <td>{{ user.fullName }}</td>
            <td>{{ user.email }}</td>
            <th>{{ user.wallet }}</th>
            <th>{{ user.ban }}</th>

            <td><a class="btn btn-danger btn-xs" href="{{ path("admin_delete_user", {'id':user.id}) }}">Delete</a></td>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}