{% extends 'base.html.twig' %}

{#{% block header %}{% endblock %}#}
{#{% block footer %}{% endblock %}#}

{% block body %}

<hr>
<h1>Category</h1>
<a type="submit" class="btn btn-primary" href="{{ path('category_new') }}">Add</a>
<hr>
<table  class="table table-striped">
    <thead>
        <tr>
            <th>№</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
            {% for index,category in categories %}
        <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ category.name }}</td>
        <td>
            <ul>
                <a class="btn btn-default" href="{{ path('category_show', { 'id':category.id }) }}">View</a>
                <a class="btn btn-success"  href="{{ path('category_edit', { 'id':category.id }) }}">Edit</a>
                <a class="btn btn-danger" href="{{ path('category_delete', { 'id':category.id }) }}">Delete</a>
            </ul>
        </td>
            {% endfor %}
    </tbody>
</table>
<hr>

<hr>
<h1>Products</h1>
<a type="submit" class="btn btn-primary" href="{{ path('product_new') }}">Add</a>
<hr>
<table class="table table-striped">
    <thead>
    <tr>
        <th>№</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Description</th>
        <th>Image</th>
        <th>Category Name</th>
        <th>In Stock/Out of Stock</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for index,product in products %}
        <tr>
            <td>{{ index+1 }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.image }}</td>
            <td>{{ product.category.name}}</td>
            <td>{{ product.stock }}</td>
            <td><a class="btn btn-default" href="{{ path('product_show', {'id':product.id}) }}">View</a></td>
            <td><a class="btn btn-success" href="{{ path("product_edit", {'id':product.id}) }}">Edit</a></td>
            <td><a class="btn btn-danger" href="{{ path("product_delete", {'id':product.id}) }}">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    {#<hr>#}
    {#<h1>Items</h1>#}
    {#<a type="submit" class="btn btn-primary" href="{{ path('item_new') }}">Add</a>#}
    {#<hr>#}
    {#<table  class="table table-striped">#}
        {#<thead>#}
        {#<tr>#}
            {#<th>№</th>#}
            {#<th>Customer Quantity</th>#}
        {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for index,item in items %}#}
        {#<tr>#}
            {#<td>{{ index + 1 }}</td>#}
            {#<td>{{ item.quantity }}</td>#}
            {#<td>#}
                {#<ul>#}
                    {#<a class="btn btn-default" href="{{ path('item_show', { 'id':item.id }) }}">View</a>#}
                    {#<a class="btn btn-success"  href="{{ path('item_edit', { 'id':item.id }) }}">Edit</a>#}
                    {#<a class="btn btn-danger" href="{{ path('item_delete', { 'id':item.id }) }}">Delete</a>#}
                {#</ul>#}
            {#</td>#}
            {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}
    {#<hr>#}

    {#<hr>#}
    {#<h1>CartItems</h1>#}
    {#<a type="submit" class="btn btn-primary" href="{{ path('cartitem_new') }}">Add</a>#}
    {#<hr>#}
    {#<table  class="table table-striped">#}
        {#<thead>#}
        {#<tr>#}
            {#<th>№</th>#}
            {#<th>Customer Quantity</th>#}
            {#<th>Total Price</th>#}
            {#<th>Created Date</th>#}
            {#<th>Status</th>#}
            {#<th>Contact Name</th>#}
            {#<th>Phone Number</th>#}
        {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for index,cartitem in cartItems %}#}
        {#<tr>#}
            {#<td>{{ index + 1 }}</td>#}
            {#<td>{{ cartitem.quantity.item}}</td>#}
            {#<th>{{ cartitem.price }}</th>#}
            {#<th>{{ }}</th>#}
            {#<th>Status</th>#}
            {#<th>Contact Name</th>#}
            {#<th>Phone Number</th>#}
            {#<td>#}
                {#<ul>#}
                    {#<a class="btn btn-default" href="{{ path('cartitem_show', { 'id':cartitem.id }) }}">View</a>#}
                    {#<a class="btn btn-success"  href="{{ path('cartitem_edit', { 'id':cartitem.id }) }}">Edit</a>#}
                    {#<a class="btn btn-danger" href="{{ path('cartitem_delete', { 'id':cartitem.id }) }}">Delete</a>#}
                {#</ul>#}
            {#</td>#}
            {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}
    {#<hr>#}

{% endblock %}