{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-12">
        <div class="well">
            <h1>Products list</h1>
            {% if app.user %}
                <a type="submit" class="btn btn-primary" href="{{ path('product_new') }}">Add</a>
            {% endif %}
        </div>
        <hr>

        {% for product in products %}
            <div class="col-md-4">
                <article>
                    <header>
                        <h2><a href="{{ path('product_show', {'id':product.id} ) }}">{{ product.name }}</a></h2>
                    </header>

                    <a href="{{ path('product_show', {'id':product.id} ) }}"><img src="{{ product.image }}"
                                                                                  class="img-rounded" style="width:100%"
                                                                                  width="200px" height="150px"/></a>

                    <p>Price: <strong>${{ product.price|number_format(2, '.', ',') }}</strong></p>

                    {% if (product.stock == 1) %}
                        <div style="color: #3be6c4"><h4>In Stock</h4></div>
                    {% else %}
                        <div style="color: red"><h4>Out of Stock</h4></div>
                    {% endif %}

                    <small class="author">
                        Creator: {{ product.client }}
                    </small>
                </article>
            </div>

        {% endfor %}
        <br/>
    </div>

{% endblock %}