{% extends 'base.html.twig' %}

{% block body_id 'register' %}

{% block body %}

    {#{{ form(form) }}#}

    <div class="col-sm-6">
    <div class="well">
        <form class="form-horizontal" name="authenticate" action="{{ path('user_register') }}" method="post">
            <fieldset>
                <legend>Register</legend>

                <div style="color: red">
                    {{ form_errors(form) }}
                </div>

                <div class="form-group">
                    <div class="col-sm-12 ">
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                        {#<input class="form-control" id="user_email" placeholder="Email" name="user[email]"#}
                               {#required type="email">#}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 ">
                        {{ form_widget(form.fullName, { 'attr': {'class': 'form-control'} }) }}
                        {#<input type="text" class="form-control" id="user_fullName" placeholder="Full Name" name="user[fullName]" required>#}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        {{ form_widget(form.password, { 'attr': {'class': 'form-control'} }) }}
                        {#<input type="password" class="form-control" id="user_password_first" placeholder="Password" name="user[password]" required>#}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        {{ form_widget(form.confirm, { 'attr': {'class': 'form-control'} }) }}
                        {#<input type="password" class="form-control" id="user_password_second" placeholder="Confirm Password" name="user[confirm]" required>#}
                    </div>
                </div>

                {{  form_row(form._token) }}

                <div class="form-group">
                    <div class="col-sm-12 col-sm-offset-2">
                        <a class="btn btn-default" href="{{ path('homepage') }}">Cancel</a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}